body, html {
    height: 100%;
    width: 100%;
}

.bg {
    /* The image used */
    background-image: url("../img/cover-table.webp");
    /* Full height */
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.parent {
    text-align: center;
}

.centered-div {
    display: inline-block;
    margin-top: 15%;
    margin-left: -50%;
    width: 360px;
    height: 400px;
    border: 1px solid black;
    border-radius: 7px;
    padding: 20px;
    background-color: floralwhite;
}

.btn-primary{
    margin-top:20px;
    width: 317px;
}

.btn-success{
    width: 317px;
}