body {
    background: #72A3EC;
}

.form-control:focus {
    box-shadow: none;
    border-color: #72A3EC
}

.profile-button {
    background: #72A3EC;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #72A3EC
}

.profile-button:focus {
    background: #72A3EC;
    box-shadow: none
}

.profile-button:active {
    background: #72A3EC;
    box-shadow: none
}

.back:hover {
    color: #72A3EC;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #72A3EC;
    color: #fff;
    cursor: pointer;
    border: solid 1px #72A3EC
}